footer {
    width: 100%;
    border-top: 1px solid #f1f1f1;

    div.page-body {
        padding-bottom: 1.5vh;
    }
}

@media only screen and (max-width: 768px) {
    div.page-body {
        margin-top: 1.8vh;
    }
}

@media (prefers-color-scheme: dark) {
    footer {
        border-top: 1px solid #323232;
    }
}