@use '@angular/material' as mat;

// Use the default configuration.
$my-typography: mat.define-typography-config();
@include mat.typography-hierarchy($my-typography);

div.header {
    background: rgba(63, 81, 181, 1);
    width: 93%;
    height: fit-content;
    margin: auto;
    padding-top: 8.8vh;
    padding-bottom: 1.8vh;
    padding-left: 7%;
    display: flex;
    position: relative;
    overflow: hidden;
    border-bottom: 1px;
    color: rgb(14, 31, 123);

    div.me-frame {
        img.me {
            width: 128px;
            height: 128px;
            border-radius: 128px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        }
    }

    div.me-bio {
        padding-left: 20px;
        padding-top: 23px;
        color: #FFF;

        h1.my-name {
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin: 0;
            margin-top: -8px;
        }
      
        h3.developer {
            margin: 0;
        }
      
        p.description {
            padding-top: 5px;
            margin: 0;
        }

        img.background-image {
            position: absolute;
            opacity: 0.3;
            height: 250px;
            width: 250px;
            overflow: hidden;
            left: 70%;
            top: 0;
            transform: rotate(-15deg);
        }
    }
}

@media only screen and (max-width: 768px) {
    div.header {
        height: fit-content;
        width: 97%;
        padding-top: 1.8vh;
        padding-bottom: 3vh;
        padding-left: 3%;
        display: block;
        margin-top: 0;
        
        div.me-frame {
            text-align: center;

            img.me {
                width: 128px;
                height: 128px;
                border-radius: 32px;
            }
        }

        div.me-bio {
            width: 90%;

            img.background-image {
                left: 75%
            }
        }
    }
}