<app-page-header></app-page-header>

<div class="page-body">
  <p class="page-text">
    Have a look at my repositories in the link below:
    <br>
    <a href="https://github.com/dev-victorvaz" target="_blank">github.com/dev-victorvaz</a>
  </p>

  <div class="tab-group-container">
    <mat-tab-group class="tab-group">
      <mat-tab label="Project E-greja">
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/WRAeytz.png" class="portfolio-image">
        </div>
        <p class="image-link">
          <a href="https://e-greja-89c9b.firebaseapp.com/" target="_blank">e-greja-89c9b.firebaseapp.com</a>
        </p>
        <p class="page-text">
          This project was done at UniBH using Angular and Firebase.
          <br>
          In this project has home weekly schedule, members, dashboard and login pages, take a look:
        </p>
        <div class="image-container">
          <img src="https://i.imgur.com/dua1g8T.png" class="portfolio-image">
        </div>
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/BrCkb04.png" class="portfolio-image">
        </div>
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/3nI5Pyw.png" class="portfolio-image">
        </div>
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/HMt9HlH.png" class="portfolio-image">
        </div>
        <br>
        <p class="page-text">
          You can acess the website using the link below:
        </p>
        <a href="https://e-greja-89c9b.firebaseapp.com/" target="_blank">e-greja-89c9b.firebaseapp.com</a>
        <br><br>
        <p class="page-text">
          Acess de source code using the link below:
        </p>
        <a href="https://github.com/dev-victorvaz/e-greja" target="_blank">github.com/dev-victorvaz/e-greja</a>
      </mat-tab>
      <mat-tab label="Brazil's Flag">
        <br>
        <div class="image-container">
          <img src="https://i.imgur.com/YrTD4dL.png" class="portfolio-image">
        </div>
        <br>
        <p class="page-text">
          Here an project that I draw the Brazil's flag using only HTML and CSS.
          <br>
          See the details in:
          <a href="https://github.com/dev-victorvaz/brazilsflag" target="_blank">github.com/dev-victorvaz/brazilsflag</a>
        </p>
      </mat-tab>
    </mat-tab-group>  
  </div>
</div>
