div.page-header {
    background: rgba(63, 81, 181, 1);
    width: 100%;
    height: fit-content;
    margin: auto;
    padding-top: 8.8vh;
    padding-bottom: 1.8vh;
    display: flex;
    position: relative;
    overflow: hidden;
    border-bottom: 1px;
    color: rgb(14, 31, 123);

    h2.page-title, p.page-description {
        margin-left: 4vh;
        margin-top: 3vh;
        color: white;
    }

    img.page-header-background-image {
        position: absolute;
        opacity: 0.3;
        height: 250px;
        width: 250px;
        overflow: hidden;
        left: 70%;
        top: 0;
        transform: rotate(-15deg);
    }

}

@media only screen and (max-width: 768px) {
    div.page-header {
        padding-top: 1.8vh;
    }

}