<div class="expertise">
    <h2 class="expertise-title">Expertise</h2>

    <div class="expertises">
        <div class="expertise-item">
            <mat-card class="item-card">
                <mat-card-header>
                    <mat-card-title>Angular</mat-card-title>
                    <mat-card-subtitle>Intermediary</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/images/angular.svg" alt="Angular icon" class="item-image">
                <mat-card-content>
                    <p>
                        <br>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="expertise-item">
            <mat-card class="item-card">
                <mat-card-header>
                    <mat-card-title>SQL</mat-card-title>
                    <mat-card-subtitle>Intermediary</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/images/sql.svg" alt="SQL icon" class="item-image">
                <mat-card-content>
                    <p>
                        <br>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="expertise-item">
            <mat-card class="item-card">
                <mat-card-header>
                    <mat-card-title>Java</mat-card-title>
                    <mat-card-subtitle>Basic</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/images/java.svg" alt="Java icon" class="item-image">
                <mat-card-content>
                    <p>
                        <br>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="expertise-item">
            <mat-card class="item-card">
                <mat-card-header>
                    <mat-card-title>Azure DevOps</mat-card-title>
                    <mat-card-subtitle>Basic</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="/assets/images/azure-devops.svg" alt="Azue DevOps icon" class="item-image">
                <mat-card-content>
                    <p>
                        <br>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
</div>