<app-page-header></app-page-header>

<div class="expertises">
    <div class="expertise-item">
        <mat-card class="item-card">
            <mat-card-header>
                <mat-card-title>Angular</mat-card-title>
                <mat-card-subtitle>Intermediary</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/angular.svg" alt="Angular icon" class="item-image">
            <mat-card-content>
                <p>
                    <br>
                    I learned Angular in my college on 4th period. I make a college homework project and started
                    some projects with it.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button disabled="">CERTIFICATE</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>

    <div class="expertise-item">
        <mat-card class="item-card">
            <mat-card-header>
                <mat-card-title>SQL</mat-card-title>
                <mat-card-subtitle>Intermediary</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/sql.svg" alt="SQL icon" class="item-image">
            <mat-card-content>
                <p>
                    <br>
                    I used SQL on my 2th and 5th college period. Making several exercises and one homework.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openSqlCertificate()">CERTIFICATE</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>

    <div class="expertise-item">
        <mat-card class="item-card">
            <mat-card-header>
                <mat-card-title>Java</mat-card-title>
                <mat-card-subtitle>Basic</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/java.svg" alt="Java icon" class="item-image">
            <mat-card-content>
                <p>
                    <br>
                    I learned Java at 2th period of my college and used it on 4th too. I did several exercises with
                    Java.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openJavaCertificate()">CERTIFICATE</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>

    <div class="expertise-item">
        <mat-card class="item-card">
            <mat-card-header>
                <mat-card-title>Azure DevOps</mat-card-title>
                <mat-card-subtitle>Basic</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="/assets/images/azure-devops.svg" alt="Azure DevOps icon" class="item-image">
            <mat-card-content>
                <p>
                    <br>
                    I discovered Azure DevOps at 4th period of my college and did a homework with it.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button (click)="openAzureDevOpsCertificate()">CERTIFICATE</button>
            </mat-card-actions>
            <mat-card-footer>
                <mat-progress-bar mode="determinate"></mat-progress-bar>
            </mat-card-footer>
        </mat-card>
    </div>
</div>