div.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    width: 12vh;
    height: 100%;
    z-index: 2;

    li {
        list-style: none;
    }

    ul {
        padding-left: 0;
    }

    button {
        transition: 0.5s;
        color: #0000008a;
        width: 100%;
        height: 10vh;
        margin-bottom: 10px;
        border-radius: 0;
    }

    button.active-link {
        /* background:rgba(0, 0, 0, .2); */
        border-left: 2px solid #3f51b5;
        color: rgb(14, 31, 123);
    }

    button:hover {
        color: rgb(14, 31, 123);
    }
}

button.navigation-toggle {
    display: none;
    position: fixed;
    top: 1.8vh;
    left: 3vh;
    z-index: 3;
}

div.navigation-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    button.navigation-toggle {
        display: block;
    }

    div.navigation {
        display: none;
    }

    .mobile-hidden {
        transform: translateX(-100%);
    }

    div.navigation-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: fixed;
        width: 12vh;
        height: 100%;
        z-index: 2;
        transition: transform 0.3s ease-out;
    
        li {
            list-style: none;
        }
    
        ul {
            padding-left: 0;
        }
    
        button {
            transition: 0.5s;
            color: #0000008a;
            width: 100%;
            height: 10vh;
            margin-bottom: 10px;
            border-radius: 0;
        }
    
        button.active-link {
            /* background:rgba(0, 0, 0, .2); */
            border-left: 2px solid #3f51b5;
            color: rgb(14, 31, 123);
        }
    
        button:hover {
            color: rgb(14, 31, 123);
        }
    }
}

@media (prefers-color-scheme: dark) {
    button.navigation-toggle {
        background-color: #ff4081;
    }

    div.navigation {
        background-color: rgba(15, 15, 17, 1);
        box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);

        button {
            color: rgba(160, 160, 160, 1);
        }

        button.active-link {
            /* background:rgba(0, 0, 0, .2); */
            border-left: 2px solid #ff4081;
            color: #ff4081;
        }

        button:hover {
            color: #ff4081;
        }
    }

    div.navigation-mobile {
        background-color: rgba(15, 15, 17, 1);
        box-shadow: 0px 4px 4px 0px rgba(160, 160, 160, 0.25);

        button {
            color: rgba(160, 160, 160, 1);
        }

        button.active-link {
            /* background:rgba(0, 0, 0, .2); */
            border-left: 2px solid #ff4081;
            color: #ff4081;
        }

        button:hover {
            color: #ff4081;
        }
    }

    footer {
        border-top: 1px solid #323232;
    }
}