<!-- Menu -->

<div class="navigation">
    <button mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" i18n>
        <ul>
            <li><mat-icon>home</mat-icon></li>
            <li>Home</li>
        </ul>
    </button>

    <button mat-button routerLink="skills" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>description</mat-icon></li>
            <li>Skills</li>
        </ul>
    </button>

    <button mat-button routerLink="portfolio" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>dashboard</mat-icon></li>
            <li>Portfolio</li>
        </ul>
    </button>

    <button mat-button routerLink="contact" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>contact_page</mat-icon></li>
            <li>Contact</li>
        </ul>
    </button>

    <div class="navigation-bottom">
        <button mat-button (click)="toggleThemeSwitch()" id="navigationBottomId">
            <ul>
                <li><mat-icon>invert_colors</mat-icon></li>
                <li>Theme</li>
            </ul>
        </button>
    </div>
</div>


<!-- Mobile menu -->

<button mat-mini-fab color="primary" aria-label="Menu toggle" class="navigation-toggle" (click)="toggleMobileMenu()">
    <mat-icon>menu</mat-icon>
</button>

<div class="navigation-mobile mobile-hidden" id="myElementId">
    <button mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" i18n>
        <ul>
            <li><mat-icon>home</mat-icon></li>
            <li>Home</li>
        </ul>
    </button>

    <button mat-button routerLink="skills" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>description</mat-icon></li>
            <li>Skills</li>
        </ul>
    </button>

    <button mat-button routerLink="portfolio" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>dashboard</mat-icon></li>
            <li>Portfolio</li>
        </ul>
    </button>

    <button mat-button routerLink="contact" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>contact_page</mat-icon></li>
            <li>Contact</li>
        </ul>
    </button>

    <div class="navigation-bottom">
        <button mat-button (click)="toggleThemeSwitch()" id="navigationBottomId">
            <ul>
                <li><mat-icon>invert_colors</mat-icon></li>
                <li>Theme</li>
            </ul>
        </button>
    </div>
</div>

<!-- Theme Switch -->
<div class="theme-switch-container" id="themeSwitchId">
    <div class="theme-switch">
        <button mat-button (click)="toggleDarkMode()" i18n>
            <ul>
                <li><mat-icon>dark_mode</mat-icon></li>
                <li>Dark</li>
            </ul>
        </button>
    
        <button mat-button (click)="toggleLightMode()" i18n>
            <ul>
                <li><mat-icon>light_mode</mat-icon></li>
                <li>Light</li>
            </ul>
        </button>
    
        <button mat-button (click)="toggleSystemMode()" i18n>
            <ul>
                <li><mat-icon>invert_colors</mat-icon></li>
                <li>System</li>
            </ul>
        </button>
    </div>
</div>