<div class="navigation">
    <button mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" i18n>
        <ul>
            <li><mat-icon>home</mat-icon></li>
            <li>Home</li>
        </ul>
    </button>

    <button mat-button routerLink="skills" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>description</mat-icon></li>
            <li>Skills</li>
        </ul>
    </button>

    <button mat-button routerLink="portfolio" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>dashboard</mat-icon></li>
            <li>Portfolio</li>
        </ul>
    </button>

    <button mat-button routerLink="contact" routerLinkActive="active-link" i18n>
        <ul>
            <li><mat-icon>contact_page</mat-icon></li>
            <li>Contact</li>
        </ul>
    </button>

</div>